<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Server=200.234.224.123,54321;Database=MarcMarimonEmployees;User Id=sa;Password=Sql#123456789;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>